<div class="search-form mt-4">
  <form  method="POST">
    <div class="mb-3">
      <label for="search-input" class="form-label">Search</label>
      <input
        name="q"
        type="text"
        class="form-control"
        id="search-input"
        aria-describedby="emailHelp"
        placeholder="Nhap tu khoa"
      />
    <div class="form-">
        <label for="gender-input">Chon gioi tinh</label>
        <select name="gender-input" id="gender-input" class="form-select">
            <option value="">_______Chon gioi tinh____</option>
            <option value="male">Nam</option>
            <option value="female">Nu</option>
        </select>
    </div>
        <button type="submit" class=" mt-2 btn btn-primary">tim kiem</button>

  </form>
</div>